<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>
      Gud Music
    </title>
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>

    <!-- Page heading -->
    <div class="alert alert-dark heading" role="alert">
      gud music
    </div>

    <p>
    </p>

    <!-- Music choices -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dyl3HS1xHlo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

    <p>
      cuz ed sheeran is great. also, cold coffee is truly the best coffee.
    </p>

    <p>
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/3ez2_T10fr0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

    <p>
      i don't know about you, tove lo, but the only kind of high i do is caffeine high.
    </p>

    <p>
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/892Z6nvxwvs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

    <p>
      something about this song just rings "cafe vibes" to me. also, maroon 5 is a classic.
    </p>

    <p>
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/sNLy6VKZ_YY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

    <p>
      sorry, but i listen to kpop. do you have a problem with that?
    </p>

    <p>
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZkcTAvaTDws" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

    <p>
      a good song to sing along to. you go, corrinne bailey!
    </p>

    <a href="index.html">
      back to home
    </a>

    <p>
    </p>

    <!-- Ending -->
    <div>
      created for hsa dev 2019
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>