<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Title -->
    <title>
      randomly yoonique
    </title>
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">randomly yoonique</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="quotes.html">house of quotes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="magic8.html">magic8</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="game.html">flappy square</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">yooni trademarks <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="timer.html">xmas time</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Text -->
    <h1 class="header">
      some typical phrases i say/are said to me
    </h1>

    <button class="btn" onclick="typeWriter()">click me</button>

    <p id="typewrite"></p>

    <!-- Ending -->
    <div>
      created for harvard cs50 2018
    </div>

    <script>
        var num = 0;
        var text = 'more coffee. yikes. alllright. huhhhhh. yooni, weather. nIcE. yikes on bikes. i\'m so sad. yicycles on bicycles. i\'m overly caffeinated right now. this is true. this is definitely not true. that\'s objectively false. i want candy. wE gET iT. we really out here ______. omg i\'m dead. this is fine, i\'m fine, everything is fine. yooni, time.';
        var speed = 50;

        function typeWriter()
        {
          if (num < text.length)
          {
            document.getElementById("typewrite").innerHTML += text.charAt(num);
            num++;
            setTimeout(typeWriter, speed);
          }
        }
    </script>
  </body>
</html>